{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Label A</th>
        <th>Label B</th>
        <th>Predicted</th>
        <th>Hide</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    function modify_table() {
      console.log("Add to table...");
      // 1. Add checkboxes to the table for LabelA, LabelB, and Hide
      // 2. Make checkboxes checked or unchecked depending on the value of the relevant <td>
      //get all table rows and loop through skipping the first - there's one extra
        for (let i = 1; i < $('tr').length; i++) {
          tds = $('tr')[i].children

	  // Checkbox for labelA
          var checkboxA = document.createElement('input');
          checkboxA.type = 'checkbox';
          checkboxA.id = 'labelA_'.concat(i);
          checkboxA.value = tds[0].textContent;
          if (tds[2].textContent == 1) {
	    checkboxA.checked=true;
	    tds[2].textContent = '';
	  }
	  checkboxA.onclick = function() {
            console.log(this.id);
            classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
            ajax_string = '/api/data?classifier_code='.concat(classifier_code)
            //$.ajax({
            //    type: "POST",
            //    url: ajax_string,
            //   data: {mydata:"emailNotification"},
            //    success: function(data) {
            //        alert('it worked');
            //        $('#container').html(data);
            //    },
            //     error: function() {
            //        alert('it broke');
            //    },
            //    complete: function() {
            //        alert('it completed');
            //    }
            //});
          }
          tds[2].appendChild(checkboxA);

	  // Checkbox for labelB
	  var checkboxB = document.createElement('input');
	  checkboxB.type = 'checkbox';
	  checkboxB.id = 'labelB_'.concat(i);
	  checkboxB.value = tds[0].textContent
          if (tds[3].textContent == 1) {
	    checkboxB.checked=true;
	    tds[3].textContent = '';
	  }
	  tds[3].appendChild(checkboxB);

	  // button / icon for 'Hide'
	  var button_icon = document.createElement('button');
	  button_icon.classList.add("btn");
	  var hide_icon = document.createElement('i');
	  hide_icon.classList.add('bi');
	  hide_icon.classList.add('bi-eye-slash');
	  button_icon.appendChild(hide_icon);
	  tds[5].appendChild(button_icon);
	}
    }

    $(document).ready(function() {
      classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
      ajax_string = '/api/data?classifier_code='.concat(classifier_code)
      $('#data').DataTable({
        "initComplete": function(settings, json) {
          modify_table();
        },
        ajax: ajax_string,
        serverSide: true,
        columns: [
          {data: 'id'},
          {data: 'description'},
          {data: 'labelA'},
          {data: 'labelB'},
          {data: 'predicted'},
          {data: 'hide'}
        ],
      });
      // 1. Add checkboxes to the table for LabelA, LabelB, and Hide
    });
  </script>
{% endblock %}§
