{% extends "base.html" %}

{% block content %}
  <h2> Name Your Categories </h2>

  <form>
  <div style="float:left;">
    <input type="text" size="50" id="categoryAName" placeholder="Category A..." style="color:blue; margin-right: 50px;" value= {{categoryAName or ''}}> </input><br>
  </div>
  <div>
  <input type="text" size="50" id="categoryBName" placeholder="Category B..." style="color:orange;" value= {{categoryBName or ''}}></input><br><br>
  </div>
  </form>
  
  <hr>

  <h2> Build a Classifier </h2>


  <input type="text" size="250" id="customTextInput" placeholder="Enter custom text here..." style="width: 560px; height: 75px; margin-bottom: 5px;" >
  </br>
  <script>
  </script>
  <button value="A" onclick="addCustomTextWithLabel(this.value)" id="addWithLabelA" type="button"  style="color:blue; margin-right: 25px;"> Add With Label A  </button>
  <button value="B" onclick="addCustomTextWithLabel(this.value)" id="addWithLabelB" type="button"  style="color:orange; margin-right: 25px;"> Add With Label B</button>
  <button onclick = "makePredictionForThisText()" id="makePredictionForThisText" type="button"  style="margin-right: 25px; margin-bottom: 5px;"> Make Prediction for this Text </button>
  <div> 
    <div id="customPrediction" style="display:none; margin-top:10px;"> Predicted category for this text: </div> 
    <div id="customPredictionResult" style="display:none; margin-top:10px;">  </div>
    <div id="pleaseWait" style="display:none; margin-top:10px;">  Making predictions. This may take a few seconds... </div>
  </div>
  </input>
  <hr>

  <button onclick = "updateAllPredictions()" id="updateAllPredictions" type="button"  style="btn; margin-right: 25px; margin-bottom: 5px;"> Update All Predictions </button>

  <hr>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Label as A</th>
        <th>Label as B</th>
        <th>Predicted</th>
        <!--<th>Hide</th>-->  <!--TODO add this back later-->
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    function modify_table() {
      //console.log("Add to table...");
      // 1. Add checkboxes to the table for LabelA, LabelB, and Hide
      // 2. Make checkboxes checked or unchecked depending on the value of the relevant <td>
      //get all table rows and loop through skipping the first - there's one extra
        for (let i = 1; i < $('tr').length; i++) {
          tds = $('tr')[i].children

          // don't run this code if there are no rows drawn
	  if (tds.length == $('tr')[0].children.length) {
	    // Checkbox for labelA
            var checkboxA = document.createElement('input');
            checkboxA.type = 'checkbox';
            //checkboxA.row_on_page = i;
	    //checkboxA.label = 'A';
            //checkboxA.artwork_id = tds[0].textContent;
	    checkboxA.id = 'A'.concat(tds[0].textContent); 
            if (tds[2].textContent == 1) {
	      checkboxA.checked=true;
	      tds[2].textContent = '';
	    }
            tds[2].appendChild(checkboxA.cloneNode());

	    // Checkbox for labelB
	    var checkboxB = document.createElement('input');
	    checkboxB.type = 'checkbox';
            //checkboxB.row_on_page = i;
	    //checkboxB.label = 'B';
            //checkboxB.artwork_id = tds[0].textContent;
	    checkboxB.id = 'B'.concat(tds[0].textContent); 
            if (tds[3].textContent == 1) {
	      checkboxB.checked=true;
	      tds[3].textContent = '';
	    }
            tds[3].appendChild(checkboxB.cloneNode());

	    //todo add this back later
	    // button / icon for 'Hide'
	    //var button_icon = document.createElement('button');
	    //button_icon.classList.add("btn");
	    //var hide_icon = document.createElement('i');
	    //hide_icon.classList.add('bi');
	    //hide_icon.classList.add('bi-eye-slash');
	    //button_icon.appendChild(hide_icon);
	    //tds[5].appendChild(button_icon.cloneNode());
          }
	}

        // add onclicks
        checkboxes = $('input:checkbox')
	classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
	for (let i = 0; i < checkboxes.length; i++) {
	  checkboxes[i].onclick = function() {
	  var jsondata = JSON.stringify({
	    "classifier_code": classifier_code,
	    "id": this.id,
	  });
	  $('input:checkbox').prop('disabled', true);
	  $('button').attr('disabled', true)
	  $.ajax({
	      type: "POST",
	      url: "check_label",
	      data: jsondata,
	      contentType: "application/json",
	      dataType: 'json',
	      success: function(response) {
		$('input:checkbox').prop('disabled', false);
		$('button').attr('disabled', false)
		if (typeof(response.unset) != 'undefined') {
		  checkbox_id = '#'.concat(response.unset.concat(response.id))
		  $(checkbox_id).prop('checked',false)
		}
		//alert('it completed');
	      }
	   });
	  }
	}
        //end add onclicks
        for (let i = 1; i < $('tr').length; i++) {
          tds = $('tr')[i].children

          // don't run this code if there are no rows drawn
          if (tds.length == $('tr')[0].children.length) {

	    if (tds[4].textContent == 'A') {
	      tds[4].style.color='blue'	
	    }

	    if (tds[4].textContent == 'B') {
	     tds[4].style.color='orange'	
            }
          }
        }

        //End Color-code the predictions
    }


    $(document).ready(function() {
      classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
      ajax_string = '/api/data?classifier_code='.concat(classifier_code)
      $('#data').DataTable({
        "pageLength": 50,
        "initComplete": function(settings, json) {
         5+3;//  do nothing here. modify_table(); call on 'draw' instead
        },
        ajax: ajax_string,
        serverSide: true,
        columns: [
          {data: 'id'},
          {data: 'description'},
          {data: 'labelA'},
          {data: 'labelB'},
          {data: 'predicted'},
          //{data: 'hide'} TODO add this back later
        ],
      });
      // 1. Add checkboxes to the table for LabelA, LabelB, and Hide
    });

    $('#data').on( 'draw.dt', function () {
      modify_table();
    })
    
  function addCustomTextWithLabel(a_or_b) {
    classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
    var custom_text = document.getElementById("customTextInput").value;
    var jsondata = JSON.stringify({
      "classifier_code": classifier_code,
	   "custom_text": custom_text,
	   "label": a_or_b 
    });
    $('input:checkbox').prop('disabled', true);
    $('button').attr('disabled', true)
    $.ajax({
      type: "POST",
      url: "add_custom_text",
      data: jsondata,
      contentType: "application/json",
      dataType: 'json',
      success: function(response) {
            //$('input:checkbox').prop('disabled', false);
            //$('button').attr('disabled', false)
	    location.reload();
      }
    });
  }

  function updateAllPredictions() {
    classifier_code = new URL(window.location.href).searchParams.get("classifier_code")

    var jsondata = JSON.stringify({
      "classifier_code": classifier_code,
    });
    $('input:checkbox').prop('disabled', true);
    $('button').attr('disabled', true)
    var pleaseWait= document.getElementById("pleaseWait");
    pleaseWait.style.display = 'block';
    $.ajax({
      type: "POST",
      url: "update_all_predictions",
      data: jsondata,
      contentType: "application/json",
      dataType: 'json',
      success: function(response) {
            //$('input:checkbox').prop('disabled', false);
            //$('button').attr('disabled', false)
            var pleaseWait= document.getElementById("pleaseWait");
            pleaseWait.style.display = 'none';
	    location.reload();
      }
    });
  }

  function makePredictionForThisText() {
    classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
    var custom_text = document.getElementById("customTextInput").value;
    var customPrediction = document.getElementById("customPrediction");
    var customPredictionResult = document.getElementById("customPredictionResult");
    customPrediction.style.display = 'none';
    customPredictionResult.style.display = 'none';
    var jsondata = JSON.stringify({
      "classifier_code": classifier_code,
      "custom_text": custom_text
    });
    $.ajax({
      type: "POST",
      url: "make_custom_prediction",
      data: jsondata,
      contentType: "application/json",
      dataType: 'json',
      success: function(response) {
        var customPrediction = document.getElementById("customPrediction");
        var customPredictionResult = document.getElementById("customPredictionResult");
	customPrediction.style.display = 'block';
	customPredictionResult.style.display = 'block';
	if (response['predicted_category'] == 'A') {
	  customPredictionResult.style.color = 'blue';
	  customPredictionResult.textContent = 'A';
        }
	if (response['predicted_category'] == 'B') {
	  customPredictionResult.style.color = 'orange';
	  customPredictionResult.textContent = 'B';
        }
      }
    });
  }

  $('#categoryAName').on('change', function() {
    classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
    var jsondata = JSON.stringify({
      "classifier_code": classifier_code,
      "categoryAName": this.value
    });
    $.ajax({
      type: "POST",
      url: "update_categoryA_name",
      data: jsondata,
      contentType: "application/json",
      dataType: 'json',
      success: function(response) {
            console.log(response);
      }
    });
  });

  $('#categoryBName').on('change', function() {
    classifier_code = new URL(window.location.href).searchParams.get("classifier_code")
    var jsondata = JSON.stringify({
      "classifier_code": classifier_code,
      "categoryBName": this.value
    });
    $.ajax({
      type: "POST",
      url: "update_categoryB_name",
      data: jsondata,
      contentType: "application/json",
      dataType: 'json',
      success: function(response) {
            console.log(response);
      }
    });
  });

  </script>
{% endblock %}§
